/* src/components/Gallery.module.css */

.container {
    text-align: center;
    /* padding: 40px 20px; */
    padding-top: 40px;
    padding-bottom: 0;
    margin-top: 40px;
    margin-right: 3%;
    margin-left: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .heading {
    max-width: 850px;  /* Set the width of the heading section to match the gallery width */
    margin: 0 auto;     /* Center the heading */
  }
  
  .heading h1 {
    margin-top: 7%;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
    width: 100%;         /* Ensure the paragraph width is 100% of the container */
  }
  
  .buttonContainer {
    margin-bottom: 20px;
  }
  
  .directionButton {
    background-image: linear-gradient(to right, #0A2F42, #1978A8);
    border-color: #00bfff;
    display: flex;
    align-items: center;
  }
  
  .arrowIcon {
    margin-left: 10px;
    background-color: white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }
  
  .imageGrid {
    max-width: 850px;
    margin: 0 auto;
  }
  
  .imageWrapper {
    position: relative;
  }
  
  /* Make sure the images fill the container in the slider */
  .image {
    object-fit: cover; /* Ensures the image covers the entire container */
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  /* Heart icon style */
  .heartIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: filter 0.3s ease;
  }
  
  .heartFilled {
    filter: brightness(0) invert(1);
  }
  
  .heartIcon:hover {
    filter: brightness(1.2);
  }
  .sliderImage {
    width: 100%;
    height: 34rem;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: center; /* Centers the image */
    border-radius: 12px;
    

  }
  .sliderWrapper{
    border-radius: 12px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin-bottom: 30px;
    width: 60rem; /* Limit the width of the slider */
    /* height: 10rem; */
    margin-left: auto;
    margin-right: auto;}
  /* Slider for screen sizes less than 950px */
  @media (max-width: 950px) {
    .imageGrid {
      display: none; /* Hide the grid */
    }
  
    /* .sliderWrapper {
      width: 100%;
      height: 100%; /* Full height */
    /* } */
  
    .carousel .slick-slide {
      text-align: center;
      display: inline-block;
      height: 100%; /* Full height */
    }
  
    .carousel .slick-list {
      height: 100%; /* Full height */
    }
  
    .carousel .slick-track {
      height: 100%; /* Full height */
    }
  }
  
  /* Grid for larger screens */
  @media (min-width: 951px) {
    /* .sliderWrapper {
      display: none; /* Hide the slider */
    /* }  */
  }
  