/* PostSection.module.css */

.postSection {
  padding: 20px;
  background-color: white;
  position: relative;
  width: 80%;
  /* margin-left: -20px; */
}

.title {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Mona Sans', sans-serif;
  margin-bottom: 0;
  margin-left: -40px;
  color: black;
  text-align: left;
  min-width: 300px !important;
  position: relative;

}
.noResults {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  padding: 2rem 0;
}